In [1]:
import os
import pandas as pd

In [3]:
os.chdir('D:/USF MS BAIS CourseWork/Sem-2/Data Visualization/DataAnalysisWithPythonCookbook-master/datasets')

In [4]:
df=pd.read_csv('gradedata.csv')

In [5]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [6]:
df.sort_values(by=['fname','age','gender'])

,fname,lname,gender,age,exercise,hours,grade,address
435,Aaron,Knowles,male,16,4,11,88.7,"596 Warren Drive, Brunswick, GA 31525"
721,Aaron,Salas,male,19,4,10,86.7,"642 Kirkland Rd., Eden Prairie, MN 55347"
340,Abbot,Hall,male,16,4,3,58.9,"84 Rock Creek Lane, Durham, NC 27703"
1690,Abbot,Kramer,male,16,2,8,81.0,"3 Golden Star Rd., Lake Jackson, TX 77566"
1901,Abbot,Kinney,male,16,4,18,87.5,"643 Wakehurst St., Norman, OK 73072"
...,...,...,...,...,...,...,...,...
341,Zia,Ratliff,female,19,2,19,88.4,"654 S. North St., Springfield Gardens, NY 11413"
1915,Zoe,Collins,female,16,2,15,83.7,"235 Mechanic St., Amsterdam, NY 12010"
510,Zorita,Oliver,female,16,2,12,93.1,"691 Main Ave., Twin Falls, ID 83301"
1247,Zorita,Ashley,female,19,1,13,80.4,"362 Jennings Street, Natchez, MS 39120"
1447,Zorita,Benson,female,19,3,12,85.0,"64 Lower River Ave., Shepherdsville, KY 40165"

In [7]:
import statsmodels.formula.api as sm
result=sm.ols(formula='grade~age+exercise+hours',data=df).fit()

In [8]:
# regression
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1315.
Date:                Wed, 08 Apr 2020   Prob (F-statistic):               0.00
Time:                        15:26:57   Log-Likelihood:                -6300.7
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1996   BIC:                         1.263e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.8704      1.321     43.804      0.000      55.279      60.461
age            0.0397      0.075      0.532      0.595      -0.107       0.186
exercise       0.9893      0.089     11.131      0.000       0.815       1.164
hours          1.9165      0.031     61.564      0.000       1.855       1.978
==============================================================================
Omnibus:                      321.187   Durbin-Watson:                   2.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2196.187
Skew:                          -0.567   Prob(JB):                         0.00
Kurtosis:                       8.007   Cond. No.                         213.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:

#second Regression
result=sm.ols(formula='grade~exercise+hours',data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1973.
Date:                Wed, 08 Apr 2020   Prob (F-statistic):               0.00
Time:                        15:27:27   Log-Likelihood:                -6300.8
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1997   BIC:                         1.262e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     58.5316      0.447    130.828      0.000      57.654      59.409
exercise       0.9892      0.089     11.131      0.000       0.815       1.163
hours          1.9162      0.031     61.575      0.000       1.855       1.977
==============================================================================
Omnibus:                      318.721   Durbin-Watson:                   2.048
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2158.000
Skew:                          -0.564   Prob(JB):                         0.00
Kurtosis:                       7.962   Cond. No.                         43.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:

df.gender[df.gender == 'male'] = 0
df.gender[df.gender == 'female'] = 1

C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\barad\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [11]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,1,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,0,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,0,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,1,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,1,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

In [12]:

#Third Regression
result=sm.ols(formula='grade~age+exercise+hours',data=df).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  grade   R-squared:                       0.664
Model:                            OLS   Adj. R-squared:                  0.664
Method:                 Least Squares   F-statistic:                     1315.
Date:                Wed, 08 Apr 2020   Prob (F-statistic):               0.00
Time:                        15:27:58   Log-Likelihood:                -6300.7
No. Observations:                2000   AIC:                         1.261e+04
Df Residuals:                    1996   BIC:                         1.263e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     57.8704      1.321     43.804      0.000      55.279      60.461
age            0.0397      0.075      0.532      0.595      -0.107       0.186
exercise       0.9893      0.089     11.131      0.000       0.815       1.164
hours          1.9165      0.031     61.564      0.000       1.855       1.978
==============================================================================
Omnibus:                      321.187   Durbin-Watson:                   2.047
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2196.187
Skew:                          -0.567   Prob(JB):                         0.00
Kurtosis:                       8.007   Cond. No.                         213.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""